{
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": ["transform-postcss"]
    }
  },
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
